@media screen and (min-width: 769px) and (max-width: 1279px) {
    .wrapper{
        width: 720px;
        padding: 48px 0;
        gap: 24px;
        flex-wrap: wrap;
    }
    .item{
        width: 348px;
        margin-bottom: 16px;
    }
    img{
        width: 160px;
    }
}